<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold" href="{% url 'dashboard' %}">
      Churn Analyzer
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Importar
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-white" href="{% url 'import_subscriptions' %}">Subscripciones</a></li>
            <li><a class="dropdown-item text-white" href="{% url 'import_logs' %}">Logs</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'results_list' %}">Resultados</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
